.site-content {
    position: relative; }

.site-content__left {
    width: 785px;
    margin: 10px 5px 10px 10px; 
}

.site-content__right {
    width: 325px;
    margin: 10px 10px 10px 5px; 
    background-color: aliceblue;
}

.site-content__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem; }
    @media (min-width: 800px) {
      .site-content__wrapper {
        padding-top: 0;
        padding-bottom: 0; } }   


/* index.html */

.thread-content {
    width: 785px;
    display: flex;
    flex-flow: column;
}

.th-box {
    background-color: aliceblue;
    margin: 5px 0 5px 0;
    border: 1px solid rgb(187, 196, 185);
}

.thread-name {
    overflow-wrap: break-word;
    word-break: break-all;
}

/* thread.html */

.message-flexbox {
    width: 785px;
    display: flex;
    flex-flow: column;
}

.thread-title {
    background-color: aliceblue;
    margin: 5px 0 5px 0;
    border: 1px solid rgb(187, 196, 185);
}

.message {
    width: 785px;
    background-color: aliceblue;
    margin: 5px 0 5px 0;
    border: 1px solid rgb(187, 196, 185);
}
