{% extends "testsite/base.html" %}
{% block title %}index{% endblock %}

{% block left_content %}
    <div class="thread-content">
        {% for thread in thread_list %}
        <div class="th-box">
            <div class="thread-name" id="change-color"><a href="/thread/{{ thread.id }}/">{{ thread.name }}</a></div>
            <div class="thread-first-comment">
                <p>{{ thread.first_body | linebreaksbr }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
{% block right_content %}
    <div>ad_content</div>
{% endblock %}