{% extends "testsite/base.html" %}
{% block title %}index{% endblock %}

{% block left_content %}
    <div class="thread-content">
        {% for thread in thread_list %}
        <div class="th-box">
            <div class="thread-name"><a href="/thread/{{ thread.id }}/">{{ thread.name }}</a></div>
            <div class="thread-first-comment">
                {{ thread.first_body }}
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
{% block right_content %}
    <div>right_content</div>
{% endblock %}