{% extends "testsite/base.html" %}
{% block title %}thread{% endblock %}

{% block left_content %}
<div class="thread-title"><p>{{ threads.name }}</p></div>
<div class="message-flexbox">
    {% for comment in comment_list %}
        <div class="message">
            <div class="data-box">
                <p>{{ forloop.counter }} : {{ comment.pub_date }}</p>
            </div>
            <div class="body-box">{{ comment.body | linebreaksbr }}</div>
        </div>
    {% endfor %}
</div>
<form action="{% url 'testsite:thread' threads.id %}" method="post">
    {% csrf_token %}
    <div>messageを送信</div>
    <textarea name="message" rows="4" cols="40" maxlength="2500" required></textarea><br>
    <input type="hidden" name="id" value="{{ threads.id }}">
    <input type="submit" value="送信">
</form>
{% endblock %}
{% block right_content %}
<div>right_content</div>
{% endblock %}